/build/
/smcFanControl.xcodeproj/project.xcworkspace/xcshareddata/
/smcFanControl.xcodeproj/project.xcworkspace/xcuserdata/
/smcFanControl.xcodeproj/xcuserdata/
.DS_Store
._*
*.o
*.pbxuser
*.perspectivev3
smc
